/*Muda todos os elementos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Corpo*/
body{
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  line-height: 1.6;
  color: #333;
}

/*Cabeçalho*/
header{
    background: linear-gradient(135deg, #d29ae4 0%, #764ba2 100%);
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav ul{
    display: flex;
    list-style: nome;
    gap: 2rem;
}

nav a{
    color: white;
    text-decoration: nome;
    transition: opacity 0.3s;
    font-weight: 500;
    opacity: 0.8s;
}

nav a:hover,
nav a.active{
    opacity: 1;
    font-weight: bold;
}
.logo{
    font-size: 1.5rem;
    font-weight: bolder;
}

.hero{
    background: linear-gradient(), url();
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:rgb(144, 150, 231);
    margin-top: 70px;
}

.hero h1,
.hero-page h1{
    font-size: 3.5rem;
    margin-bottom: 1rem; /*16px = 1 rem*/
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.hero-content, signup-section{
    width: 800px;
    margin: 0 auto;
    padding: 2rem;
    animation: fadeInUp 1s ease-out;
}

/*botão*/
.cta-buttons{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

form fieldset{
    border:1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

form legend{
    font-weight: bold;
    padding: 0 0.5rem;
}